platform:
 - x64
 - Win32


install:
  - git clone https://github.com/PaulBatchelor/Soundpipe
  - cd Soundpipe
  - ls
  - C:\cygwin\bin\bash -c "export cc=C:\cygwin\bin\cc"
  - C:\cygwin\bin\make
  - cd ..

build: ./configure; mingw32-make; make test	

test_script: false
