platform:
 - x64
 - Win32


install:
  - git clone https://github.com/PaulBatchelor/Soundpipe
  - cd Soundpipe
  - ls
  - C:\cygwin\bin\bash -c "export CC=C:\cygwin\bin\gcc"
#  - cp -pv C:\cygwin\bin\gcc C:\cygwin\bin\cc
  - C:\cygwin\bin\make
  - cd ..

build: ./configure; mingw32-make; make test	

test_script: false
