platform:
 - x64
 - Win32


install:
  - git clone https://github.com/PaulBatchelor/Soundpipe
  - cd Soundpipe
  - ls
  - C:\cygwin\bin\bash -e -l -c "make -f Makefile all"
  - cd ..

build: ./configure; mingw32-make; make test	

test_script: false
