platform:
 - x64
 - Win32

environment:
  GWT_OUTDIR:    C:\projects\Gwion\test_results	
  SOUNDPIPE_LIB: C:\projects\Soundpipe\libsoundpipe.a
  SOUNDPIPE_INC: C:\projects\Soundpipe
  GWION_ADD_DIR: C:\projects\Gwion\add

install:
  - SET "PATH=C:\cygwin\bin\;%PATH%"
  - uname
  - mkdir add
  - mkdir test_results
  - git clone https://github.com/kata198/cygwin-ps-misc.git
  - cd cygwin-ps-misc
  - install.sh
  - cd C:\projects\Gwion
#  - SET "SOUNDPIPE_LIB=libsoundpipe.a"
#  - bash "export SOUNDPIPE_LIB=libsoundpipe.a"
#  - SET "SOUNDPIPE_INC=."
#  - git clone https://github.com/ronen/sndfile.git
  - curl -fsS -o libsndfile-1.0.28.tar.gz http://www.mega-nerd.com/libsndfile/files/libsndfile-1.0.28.tar.gz
  - tar -xvf libsndfile-1.0.28.tar.gz
  - cd libsndfile-1.0.28
  - C:\cygwin\bin\bash "./configure"
  - C:\cygwin\bin\make
  - C:\cygwin\bin\make install
  - git clone https://github.com/PaulBatchelor/Soundpipe C:\projects\Soundpipe
  - cd C:\projects\Soundpipe
  - ls
#  - C:\cygwin\bin\bash -c "export CC=C:\cygwin\bin\gcc"
#  - cp -pv C:\cygwin\bin\gcc C:\cygwin\bin\cc
  - C:\cygwin\bin\make
  - C:\cygwin\bin\make install
  - cd C:\projects\gwion
  - chmod +x configure
#  - C:\cygwin\bin\bash "C:\projects\gwion\configure"
  - C:\cygwin\bin\make
  - C:\cygwin\bin\make test	

build: false

test_script: false
